In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('master.csv')

In [3]:
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [4]:
mask1 = df.year >= 2010
mask2 = df.year.between(2010, 2014)
mask3 = df.year.isin([2000, 2010])
mask4 = df.sex == 'female'
mask5 = df.country == 'Switzerland'
mask6 = df.age == '15-24 years'
f_df = df.loc[mask2 & mask4 & mask5 & mask6, ['country', 'year', 'sex', 'age', 'suicides_no']]

In [5]:
f_df

           country  year     sex          age  suicides_no
24915  Switzerland  2010  female  15-24 years           15
24927  Switzerland  2011  female  15-24 years           15
24939  Switzerland  2012  female  15-24 years           10
24951  Switzerland  2013  female  15-24 years           17
24963  Switzerland  2014  female  15-24 years           14

In [6]:
f_df.sum().suicides_no

71