## Focus on inbuilt Data Structures
#### *What is a Data Structure?* 
Organizing, managing and storing data is important as it enables easier access and efficient modifications. Data Structures allows you to organize your data in such a way that enables you to store collections of data, relate them and perform operations on them accordingly. 

#### *Types of Data Structures in Python:*
Python has implicit support for Data Structures which enable you to store and access data. These structures are called List, Dictionary, Tuple and Set.
Python allows its users to create their own Data Structures enabling them to have full control over their functionality. The most prominent Data Structures are Stack, Queue, Tree, Linked List, graph, HashMap.

#### *Built-in Data Structures:*
like List, Dictionary, Tuple and Set As the name suggests, these Data Structures are built-in with Python which makes programming easier and helps programmers use them to obtain solutions faster. Letâ€™s discuss each of them in detail.

* Python List and Boolean Variables inbuilt functions
* Python tuples - Inbuilt functions
* Python Dictionary - Inbuilt functions
* Python Sets - Inbuilt functions
* Comprehensions in python
* Iterators and generators
* Lambda Function

## List
Lists are used to store data of different data types in a sequential manner. There are addresses assigned to every element of the list, which is called as Index. The index value starts from 0 and goes on until the last element call +ve value

In [1]:
type([])

list

In [2]:
lst = list()

In [3]:
type(lst)

list

In [4]:
#List is a Ordered Collection of items
#you can store anything in list int, float Strings
#list 
numbers = [1,2,3,4,5,6]
print(numbers)

[1, 2, 3, 4, 5, 6]

In [5]:
words = ['word1', 'word2', 'word3']
print(words)

['word1', 'word2', 'word3']

In [6]:
# We can mix them as well like int, float, string
mixed = [1, 2, 3, 4, "five", "six", None]
print(mixed[0])

mixed[1] = "two"
print(mixed)

mixed[1:] = "two"
print(mixed)

mixed[1:] = ["three", "four"]
print(mixed)

1
[1, 'two', 3, 4, 'five', 'six', None]
[1, 't', 'w', 'o']
[1, 'three', 'four']

In [7]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [8]:
lst.append(["love","char"])

In [9]:
lst.append("Sandy")
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, ['love', 'char'], 'Sandy']

In [10]:
lst=[1,2,3,4,5,6]

In [11]:
lst.extend([8,9])
lst

[1, 2, 3, 4, 5, 6, 8, 9]

In [12]:
#Various Operations that we can perform in List
lst=[1,2,3,4,5]

In [13]:
sum(lst)

15

In [14]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [15]:
#insert, extend, append method
fruits = ['mangos', 'oranges']
fruits.insert(1, 'grapes')
print(fruits)

fruits1 = ['peach', 'avogardo']
fruits2 = ['lemon', 'apple']
fruits1.extend(fruits2)
print(fruits1)

fruits1.append('kiwi')
print(fruits1)

['mangos', 'grapes', 'oranges']
['peach', 'avogardo', 'lemon', 'apple']
['peach', 'avogardo', 'lemon', 'apple', 'kiwi']

In [16]:
fruits = ['peach', 'avogardo', 'lemon', 'apple', 'mangos', 'grapes', 'oranges']
pop1 = fruits.pop()
print(f'pop item is: {pop1}')
print(fruits)

pop item is: oranges
['peach', 'avogardo', 'lemon', 'apple', 'mangos', 'grapes']

In [17]:
fruits = ['peach', 'avogardo', 'lemon', 'apple', 'mangos', 'grapes', 'oranges']
del fruits[1]
fruits.remove('mangos')
print(fruits)

['peach', 'lemon', 'apple', 'grapes', 'oranges']

In [18]:
fruits = ['peach', 'avogardo', 'lemon', 'apple', 'mangos', 'grapes', 'oranges']
print(fruits.pop())
print(fruits)

oranges
['peach', 'avogardo', 'lemon', 'apple', 'mangos', 'grapes']

In [19]:
fruits = ['peach', 'avogardo', 'lemon', 'apple', 'mangos', 'apple', 'grapes', 'oranges']
fruits.count('apple')

2

In [20]:
fruits = ['peach', 'avogardo', 'lemon', 'apple', 'mangos', 'apple', 'grapes', 'oranges']
fruits.sort()
print(fruits)
print(sorted(fruits))

['apple', 'apple', 'avogardo', 'grapes', 'lemon', 'mangos', 'oranges', 'peach']
['apple', 'apple', 'avogardo', 'grapes', 'lemon', 'mangos', 'oranges', 'peach']

In [21]:
fruits = ['peach', 'avogardo', 'lemon', 'apple', 'mangos', 'apple', 'grapes', 'oranges']
fruits.clear()
print(fruits)

[]

In [22]:
fruits = ['peach', 'avogardo', 'lemon', 'apple', 'mangos', 'apple', 'grapes', 'oranges']
fruits_copy = fruits.copy()
fruits.clear()
print(fruits_copy)
print(fruits)
print(fruits_copy)

['peach', 'avogardo', 'lemon', 'apple', 'mangos', 'apple', 'grapes', 'oranges']
[]
['peach', 'avogardo', 'lemon', 'apple', 'mangos', 'apple', 'grapes', 'oranges']

In [23]:
#join method
#convert list to string
user_info = ['sandy', '26']
print(','.join(user_info))

sandy,26

In [24]:
#generate lists with range functions
numbers = list(range(1,11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
#print negative list
#passing the total list
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def negative_list(l):
    negative = []
    for i in l:
        negative.append(-i)
    return negative

print(negative_list(numbers))

[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10]

In [26]:
# passing list with a range function
def square_list(l):
    square = []
    for i in l:
        square.append(i**2)
    return square

numbers = list(range(1,11))
print(square_list(numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [27]:
#input ---> [1,2,5,8], [1,2,7,6]
#output ---> [1,2]

#logic
#common number finder

def common_finder(l1, l2):
    output = []
    for i in l1:
        if i in l2:
            output.append(i)
    return output

print(common_finder([1,2,3,5,8], [1,2,3,7,6]))

[1, 2, 3]

In [28]:
#function returning two values
def func(int1, int2):
    add = int1+int2
    mul = int1*int2
    return add, mul

print(func(2,3))
add, multy = func(2,3)
print(add)
print(multy)

(5, 6)
5
6

In [29]:
#List inside List 
matrix = [[1,2,3], [4,5,6], [7,8,9]]
# if we want to print the each items of list
for sublist in matrix:
    for i in sublist:
        print(i)

for sublist in matrix:
    print(sublist, end=" ")

1
2
3
4
5
6
7
8
9
[1, 2, 3] [4, 5, 6] [7, 8, 9]

In [30]:
#2d list
matrix = [[1,2,3], [4,5,6], [7,8,9]]
matrix[1][0]

4

In [31]:
nums = [1,2,3,4,5,6,7,8,9,10]
new_list = []
for i in nums:
    if i % 2 == 0:
        new_list.append(-i)
    else:
        new_list.append(i)
print(new_list)

[1, -2, 3, -4, 5, -6, 7, -8, 9, -10]

In [32]:
numbers = [1,2,3,5,8,7,9]
print(min(numbers))
print(max(numbers))

1
9

In [33]:
# Convert String to list
name = "Geeks for Geeks"
l = list(name.split(" "))
print(l)

['Geeks', 'for', 'Geeks']

In [34]:
# Convert string to char list
name = "SANDIP"
list1=[] 
list1[:0]=name
print(list1)

['S', 'A', 'N', 'D', 'I', 'P']

## Boolean Variables
Boolean values are the two constant objects False and True.

They are used to represent truth values (other values can also be considered false or true).

In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [35]:
bool()

False

In [36]:
type(True)

bool

In [37]:
my_str = "Sandip Roy"

In [38]:
my_str.isalnum()

False

In [39]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('S')) #test if string endswith a d
print(my_str.startswith('S')) #test if string startswith H

False
False
False
True
False
False
False
False
True

In [40]:
# Boolean and Logical Operators
True and True

True

In [41]:
True and False

False

In [42]:
True or False

True

In [43]:
True or True

True

## Tuples
Tuple. Tuples are used to store multiple items in a single variable. Tuple is one of 4 built-in data structure in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage. A tuple is a collection which is ordered and unchangeable that means immutable.

In [44]:
## create an empty Tuples
my_tuple=tuple()
type(my_tuple)

tuple

In [45]:
my_tuple=()
type(my_tuple)

tuple

In [46]:
my_tuple=('Hello','World')
print(type(my_tuple))
my_tuple

<class 'tuple'>

('Hello', 'World')

In [47]:
nums = tuple(range(1,11))
print(nums)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [48]:
nums = list((1, 2, 3, 4, 5, 6, 7, 8, 9, 10))
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [49]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
tuple(num)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [50]:
mixed = (1,2,3,4,5)

In [51]:
# For loop and tuple
for i in mixed:
    print(i)

1
2
3
4
5

In [52]:
#tuple with one element
nums = (1)
print(type(nums)) # it is not a tuple
print(type(mixed)) # it is a tuple

<class 'int'>
<class 'tuple'>

In [53]:
# if you want to create tuple with one element then put "Comma" after element
nums = (1,)
print(type(nums))

<class 'tuple'>

In [54]:
# tuple without parenthesis
jobs = "data science", "App developer", "Designer"
print(type(jobs))

<class 'tuple'>

In [55]:
# tuple Unpacking
## you have to take same variables as Values otherwise it will throw us error
jobs = ("data science", "App developer", "Designer")
job1, job2, job3 = (jobs)
print(job1, job2, job3)

data science App developer Designer

In [56]:
#List inside tuples
my_tuple = ("item1", ["list1", "list2"])
my_tuple[1].pop()

'list2'

In [57]:
my_tuple[1].append("list3")
my_tuple

('item1', ['list1', 'list3'])

In [58]:
# min max sum len functios
print(min(mixed))
print(max(mixed))
sum(mixed)

1
5

15

## SETS
A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [59]:
## Defining an empy set
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [60]:
set_var = {1,2,3,4,5,3}
set_var

{1, 2, 3, 4, 5}

In [61]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'Avengers', 'Hitman', 'IronMan'}

set

In [62]:
## Inbuilt function in sets
set_var.add("Hulk")
set_var

{'Avengers', 'Hitman', 'Hulk', 'IronMan'}

In [63]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [64]:
set2.intersection(set1)

{'Avengers', 'Hitman', 'IronMan'}

In [65]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [66]:
set2.intersection_update(set1)
set2

{'Avengers', 'Hitman', 'IronMan'}

In [67]:
##Difference 
set2.difference(set1)

set()

## Dictionaries
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [68]:
dic={}

In [69]:
type(dic)

dict

In [70]:
type(dict())

dict

In [71]:
set_exm={1,2,3,4,5}
type(set_exm)

set

In [72]:
## Let create a dictionary
my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz'}

In [73]:
#Access the item values based on keys
my_dict['Car1']

'Audi'

In [74]:
# We can even loop throught the dictionaries keys
for x in my_dict:
    print(x, end=", ")

Car1, Car2, Car3,

In [75]:
# We can even loop throught the dictionaries values
for x in my_dict.values():
    print(x, end=", ")

Audi, BMW, Mercidies Benz,

In [76]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [77]:
## Adding items in Dictionaries
my_dict['car4']='Audi 2.0'
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [78]:
#Adding and replacing new items to dictionary
my_dict['Car1']='Maruti'
my_dict

{'Car1': 'Maruti', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [79]:
# Nested Dictionary
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}
car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [80]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [81]:
## Accessing the items in the dictionary
print(car_type['car1'])
print(car_type['car1']['Mercedes'])

{'Mercedes': 1960}
1960

In [82]:
#dictionaries #key value pair
user = {'name' : 'sandip', 'age' : 26}
print(user)
print(type(user))

{'name': 'sandip', 'age': 26}
<class 'dict'>

In [83]:
user2 = dict(name = 'SANDY', age = 26)
print(user2)

{'name': 'SANDY', 'age': 26}

In [84]:
user_info = {
    'name' : 'sandy',
    'age' : 24,
    'fav_movies' : ['limitless', 'job', 'pango'],
    'fav_tune' : ['fluet', 'romeo']
}

if 'name' in user_info:
    print('name is present in key section')

if 'sandip' in user_info.values():
    print('sandip is present in value section')
else:
    print('not present')

name is present in key section
not present

In [85]:
user_info = {
    'name' : 'sandip',
    'age' : 24,
    'fav_movies' : ['limitless', 'job', 'pango'],
    'fav_tune' : ['fluet', 'romeo'],
}

user_item = user_info.items()
print(user_item)
print(' ')
print(type(user_item))

dict_items([('name', 'sandip'), ('age', 24), ('fav_movies', ['limitless', 'job', 'pango']), ('fav_tune', ['fluet', 'romeo'])])

<class 'dict_items'>

In [86]:
user_info = {
    'name' : 'sandip',
    'age' : 24,
    'fav_movies' : ['limitless', 'job', 'pango'],
    'fav_tune' : ['fluet', 'romeo'],
}
user_items = user_info.items()

for key, value in user_items:
    print(f"key is {key} and value is {value}")

key is name and value is sandip
key is age and value is 24
key is fav_movies and value is ['limitless', 'job', 'pango']
key is fav_tune and value is ['fluet', 'romeo']

In [87]:
#add and delete data
user_info = {
    'name' : 'sandip',
    'age' : 24,
    'fav_movies' : ['limitless', 'job', 'pango'],
    'fav_tune' : ['fluet', 'romeo']
}

popped = user_info['fav_movies'].pop()
print(f'popped item is : {popped}')
print(" ")
user_info['fav_movies'].append(popped)
print(user_info)

popped item is : pango

{'name': 'sandip', 'age': 24, 'fav_movies': ['limitless', 'job', 'pango'], 'fav_tune': ['fluet', 'romeo']}

In [88]:
#add and delete data
user_info = {
    'name' : 'sandip',
    'age' : 24,
    'fav_movies' : ['limitless', 'job', 'pango'],
    'fav_tune' : ['fluet', 'romeo'],
}

#how to add data
user_info['fav_song'] = ['song1', 'song2']
print(user_info)

#pop method
popped_item = user_info.pop('fav_tune')
print(f"popped item is {popped_item}")
print(user_info)

{'name': 'sandip', 'age': 24, 'fav_movies': ['limitless', 'job', 'pango'], 'fav_tune': ['fluet', 'romeo'], 'fav_song': ['song1', 'song2']}
popped item is ['fluet', 'romeo']
{'name': 'sandip', 'age': 24, 'fav_movies': ['limitless', 'job', 'pango'], 'fav_song': ['song1', 'song2']}

In [89]:
user_info = {
    'name' : 'sandip',
    'age' : 24,
    'fav_movies' : ['limitless', 'job', 'pango'],
    'fav_tune' : ['fluet', 'romeo']
}

more_info = {'name' : 'sandip roy', 'state' : 'west bengal', 'hobbies' : ['cocking' , 'video editing', 'traveling']}
user_info.update(more_info)
user_info

{'name': 'sandip roy',
 'age': 24,
 'fav_movies': ['limitless', 'job', 'pango'],
 'fav_tune': ['fluet', 'romeo'],
 'state': 'west bengal',
 'hobbies': ['cocking', 'video editing', 'traveling']}

In [92]:
#Word counter with dictionary
def word_counter(s):
    count = {}
    for char in s:
        count[char] = s.count(char)
    return count

print(word_counter("SANDIPP"))

{'S': 1, 'A': 1, 'N': 1, 'D': 1, 'I': 1, 'P': 2}

# Comprehensions

In [93]:
#list comprehension
squares = []
for i in range(1,11):
    squares.append(i**2)
print(squares)

square2 = [i**2 for i in range(1,11)]
print(square2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [100]:
[i**2 for i in range(-5,11)]

[25, 16, 9, 4, 1, 0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [101]:
# Number to string
def num_to_string(l):
    return [str(i) for i in l if (type(i) == int or type(i) == float)]

print(num_to_string([2, 1, 'love', 4.0 ,5.0 ,3.0, 6, 'sandy']))

['2', '1', '4.0', '5.0', '3.0', '6']

In [102]:
nums =[1,2,3,4,5,6,7,8,9,10]
new_list = [-1 if (i % 2 == 0) else i for i in nums]
print(new_list)

[1, -1, 3, -1, 5, -1, 7, -1, 9, -1]

In [103]:
#dictionary comprehension
square = {f"square of {num} is":num**2 for num in range(1,11)}
for k,v in square.items():
    print(f"{k} : {v}")

square of 1 is : 1
square of 2 is : 4
square of 3 is : 9
square of 4 is : 16
square of 5 is : 25
square of 6 is : 36
square of 7 is : 49
square of 8 is : 64
square of 9 is : 81
square of 10 is : 100

## Iterators and generators
*An iterator is an object that contains a countable number of values.*

*An iterator is an object that can be iterated upon, meaning that you can traverse through all the values.*

*Technically, in Python, an iterator is an object which implements the iterator protocol, which consist of the methods __iter__() and __next__().*

##### **generators are iterators**

In [111]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [116]:
# Map is a iterator function
numbers = [1,2,3,4,5,6]
squares = map(lambda a:a**2, numbers)

print(next(squares)) 
print(next(squares)) 
print(next(squares)) 
print(next(squares)) 
print(next(squares))

1
4
9
16
25

In [117]:
# you can loop through iterator
for num in map(lambda a:a**2, numbers):
    print(num)

1
4
9
16
25
36

In [125]:
#generators
square = (i**2 for i in range(1,11))
print(square)

<generator object <genexpr> at 0x000001FD1C04C2C8>

In [120]:
for num in square:
    print(num)

1
4
9
16
25
36
49
64
81
100

## Lambda Function

In [104]:
#lambda
add = lambda a,b : a+b
print(add(2,3))

5

In [107]:
func = lambda s : True if len(s) > 5 else False
print(func("Sandip"))

True

In [110]:
func = lambda s : len(s) > 5 
print(func("good"))

False